.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 
const fetchedMovies = [
  { title: 'Nuevo video Descartes a Kant', image: 'https://i3.ytimg.com/vi/yC0NdHnc2gg/maxresdefault.jpg' },
  { title: '¿Qué son las softskills?', image: 'https://i3.ytimg.com/vi/vhwspfvI52k/maxresdefault.jpg' },
  { title: 'Aprende JS desde cero', image: 'https://i3.ytimg.com/vi/RqQ1d1qEWlE/maxresdefault.jpg' },
  { title: 'Politigato #70', image: 'https://i3.ytimg.com/vi/-LN6nzTWQTo/maxresdefault.jpg' },
  // Agrega más películas si es necesario
]; */